.git
.github
.gitlab-ci.yml
.claude
.nx
.neon
.vscode
node_modules
**/node_modules
dist
**/dist
charts
docs
**/*.md
**/.env
**/.env.*
!**/.env.example
**/vitest.config.mts
**/*.spec.ts
**/*.test.ts
**/*.spec.tsx
**/*.test.tsx
